#home .main_area .main_txt h4.txt_left {
    text-align: center;
}

#home .main_area .main_txt p {
    width: 40%;
    margin: 0 auto;
}

#home .main_area h2 {
    margin: 14% 0 15% 0;}


    
.coin_perc_left {
    margin-left: 0;
}

.coin_perc_right{
    margin-left: 0;
}

.rdmap_box{
    height:100%;
}

/*데탑*/
@media screen and (max-width:1440px) {
    #intro3::after{
        right: -9%;
        top: -5px;
    }
    #home .main_area h2 {
        margin: 24% 0 30% 0;
    }
}


/*노트북*/
@media screen and (max-width:1024px) {
    .coin_contents_left{
        width: 55%;
        padding:0 1% 0 0;
    }

    .coin_perc_left{
        width: 52%;
    }

    .coin_perc_right{
        width: 48%;
    }

    /*rdmap*/

    #intro3::after{
        right: 0;
        top: 140px;
    }
}


/*아이패드 (768px)*/
@media screen and (max-width:991px) {
    .coin_perc_left{
        width: 100%;
    }

    .coin_perc_right{
        width: 100%;
        margin-left: 0;
    }

    #intro3::after{
        right: -2%;
        top: 120px;
    }
}


/*모바일*/
@media screen and (max-width:767px) {
    .coin_percentage{
        display: block;
        width: 100%;
        padding: 0 0 10% 0;
    }

    .coin_contents_left{
        width: 100%;
    }


    #intro3::after{
        width: 156px;
        height: 151px; 
        right: -7%;
        top: 230px;
    }
}


/*모바일2*/
@media screen and (max-width:576px) {
    #home .main_area h2 {
        margin: 34% 0 36% 0;
    }

    #home .main_area .main_txt p {
        width: 90%;
        margin: 0 auto;
    }
}


/*모바일3 갤럭시*/
@media screen and (max-width:425px) {}


/*모바일4 아이폰*/
@media screen and (max-width:375px) {
    #intro3::after{
        top: 280px;
    }

}