/*데탑*/
@media screen and (max-width:1440px) {
    #home {
        width: 100%;
        height: 100vh;
    }

    #home .main_vid video {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
    }

    #home .main_area {
        height: 50%;
    }

    #down .down_area button { 
        height: 70px;
      }
    .intro1_bg {
        width: 50%;
        height: 700px;
    }

}

    /*노트북*/
    @media screen and (max-width:1024px) {
        header .hd_all .pc_wrap ul {
            width: 90%;
        }

        #home .main_area h2 {
            margin: 28% 0 24% 0;
        }

        #contact {
            height: 100%;
        }

        #contact .con_area .con_box .con_right form .send {
            width: 35%;
        }

        #down .down_area button { 
            height: 60px;
            width: 28%;
          }
        #down .down_area button a {
            font-size: 1.4rem;
          }
    }


    /*아이패드 (768px)*/
    @media screen and (max-width:991px) {
        header .hd_all .pc_wrap {
            display: none;
        }

        .hd_all .menu-btn {
            display: block;
        }

        #home .main_area h2 {
            margin: 20% 0 24% 0;
        }

        #down .down_area button a {
            font-size: 1.2rem;
          }
        .intro1_bg {
            width: 43%;
            height: 450px;
            margin-right: -3%;
        }
        .intro1_txt p {
            font-size: 0.8rem;
        }
    }


    /*모바일*/
    @media screen and (max-width:767px) {
        #home .main_area .main_txt h4 {
            font-size: 2rem;
        }

        #home .main_area h2 {
            margin: 38% 0 42% 0;
        }

        #down .down_area {
            flex-direction: column;
          }
        #down .down_area button { 
            margin-top: 5%;
            width: 50%;
          }
        .intro1_bg {
            width: 40%;
            height: 300px;
            margin-right: -3%;
        }
    }


    /*모바일2*/
    @media screen and (max-width:576px) {
        #home .main_area .main_txt h4 {
            font-size: 1.6rem;
        }

        #home .main_area h2 {
            font-size: 4rem;
        }

        #home .main_area .main_txt p {
            font-size: 14px;
        }

        #contact .con_area .con_box {
            height: 90%;
            flex-direction: column;
        }

        #contact .con_area .con_box .con_left {
            width: 100%;
            padding: 5%;
        }

        #contact .con_area .con_box .con_right {
            width: 100%;
            padding: 5%;
        }

        footer .footer_area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }

        footer .footer_area .logo_area{
            width: 100%;
            margin: 15% auto;
            text-align: center;
        }

        footer .footer_area .logo_area img {
            max-width: 40%;
            margin: 0 auto;
        }

        footer .footer_area h4 {
            text-align: center;
        }   
    }


    /*모바일3 갤럭시*/
    @media screen and (max-width:425px) {}


    /*모바일4 아이폰*/
    @media screen and (max-width:375px) {
        #home .main_area .main_txt p {
            font-size: 12px;
        }
    }